@font-face {
  font-family: 'SFProBold';
  src: url('./assets/fonts/SFPro/sf-ui-display-bold.otf');
}

@font-face {
  font-family: 'SFProSemiBold';
  src: url('./assets/fonts/SFPro/sf-ui-display-semibold.otf');
}

@font-face {
  font-family: 'SFProBlack';
  src: url('./assets/fonts/SFPro/sf-ui-display-black.otf');
}

@font-face {
  font-family: 'SFProMedium';
  src: url('./assets/fonts/SFPro/sf-ui-display-medium.otf');
}

@font-face {
  font-family: 'SFProHeavy';
  src: url('./assets/fonts/SFPro/sf-ui-display-heavy.otf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
